@model IEnumerable<Presentation.Mvc.Models.PersonModel>

@{
    ViewBag.Title = "Index";
}

@section scripts
{
    <script>

        

    </script>
}

@foreach (var item in Model)
{
    <div class="box-container">
        <div class="box-header box">
            <p>@item.FullName</p>
        </div>
        <div class="box-content">
            <p>Born: @item.DateOfBirth</p>
        </div>
    </div>
}