body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.fr-site-container {
    height: 900px;
}

.fr-menu {
    align-content: center;
    height: 40px;
    border-bottom: solid 2px cornflowerblue;
}

.fr-content {
    align-content: center;
}

.fr-menu, .fr-content {
    padding-top: 10px;
}



/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.box-container 
{
    float:left;
    margin: 5px;
    border: solid 2px cornflowerblue;
    border-radius: 35px;
    padding: 10px;
}
.box-header 
{
    border-bottom: solid;
    border-width: thin;
    border-color: cornflowerblue;
}
.box-content 
{
}

